PORT=4000
DATABASE_URL="mongodb+srv://samuelzurbano0508_db_user:3eJ4Xo3BRRROSQhU@cluster0.6kdabsk.mongodb.net/digital-wellbeing?retryWrites=true&w=majority"
JWT_SECRET="change-me"
JWT_EXPIRES_IN="7d"
BCRYPT_SALT_ROUNDS=10
CORS_ORIGIN="*"
INGESTION_API_KEY=""

